@charset "UTF-8";
* {
  box-sizing: border-box;
  outline: none;
  /* 防止点击闪烁 */
  -webkit-tap-highlight-color: transparent;
  /* 缩放网页，文字大小不变 */
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0; }

body {
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif, arial;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

a, a:hover {
  text-decoration: none; }

/* remember to define focus styles! */
:focus {
  outline: 0; }

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

b {
  font-weight: normal; }

i, em {
  font-style: normal; }

input {
  -webkit-appearance: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0; }

.table {
  width: 100%;
  text-align: left; }

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9; }

.table-bordered {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd; }

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px; }

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5; }

@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
    -webkit-overflow-scrolling: touch; } }
@media (max-width: 767px) {
  .table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap; } }
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td {
  border-top: 0; }

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.text-center {
  text-align: center; }

.mask {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: .5;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=50)'; }

input {
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  outline: none; }

input.inp-focus:focus {
  border: 1px solid #d0a972;
  box-shadow: 0 0 5px #d0a972;
  -webkit-box-shadow: 0 0 5px #d0a972;
  -moz-box-shadow: 0 0 5px #d0a972; }

.coll2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all; }

.coll {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

img {
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  display: table;
  width: 100%; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.cfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.abtus {
  text-align: center;
  color: #7f601a; }
  .abtus .absh {
    padding: 0 0.15625rem;
    height: 0.90625rem;
    line-height: 0.90625rem;
    font-size: 17px;
    max-height: 100%;
    font-weight: bold;
    background-color: #ffe8ad; }
    [data-dpr="2"] .abtus .absh {
      font-size: 34px; }
    [data-dpr="3"] .abtus .absh {
      font-size: 51px; }
    .abtus .absh .ic-absh {
      width: 0.70313rem;
      vertical-align: middle; }
  .abtus .absul {
    margin-top: -0.45313rem;
    padding: 0.78125rem 0;
    text-align: left;
    border: 1px solid #7f601a; }
    .abtus .absul li {
      display: table;
      width: 100%; }
    .abtus .absul .cell-l, .abtus .absul .cell-r {
      display: table-cell;
      vertical-align: middle; }
    .abtus .absul .cell-l {
      width: 2.34375rem;
      padding-left: 0.46875rem; }
    .abtus .absul .absimg {
      width: 1.4375rem;
      height: 1.4375rem; }
    .abtus .absul .alih {
      font-size: 14px;
      max-height: 100%;
      font-weight: bold; }
      [data-dpr="2"] .abtus .absul .alih {
        font-size: 28px; }
      [data-dpr="3"] .abtus .absul .alih {
        font-size: 42px; }
    .abtus .absul .alip {
      font-size: 14px;
      max-height: 100%; }
      [data-dpr="2"] .abtus .absul .alip {
        font-size: 28px; }
      [data-dpr="3"] .abtus .absul .alip {
        font-size: 42px; }

.wrap {
  position: relative;
  width: 10rem;
  margin: 0 auto; }
  .wrap .bg-guid {
    display: block;
    width: 10rem; }
  .wrap .tel-guid {
    position: absolute;
    top: 4.53125rem;
    left: 1.17188rem;
    width: 7.65625rem;
    font-size: 14px;
    max-height: 100%;
    color: #333;
    padding: 0.26563rem 0.625rem;
    border-radius: 0.625rem; }
    [data-dpr="2"] .wrap .tel-guid {
      font-size: 28px; }
    [data-dpr="3"] .wrap .tel-guid {
      font-size: 42px; }
    .wrap .tel-guid:focus {
      border-color: #d9ba69;
      box-shadow: inset 0 0 5px #d9ba69; }
  .wrap .tel-tip {
    position: absolute;
    top: 5.625rem;
    left: 1.25rem;
    width: 7.65625rem;
    padding-left: 0.53125rem;
    font-size: 14px;
    max-height: 100%;
    color: #d9ba69; }
    [data-dpr="2"] .wrap .tel-tip {
      font-size: 28px; }
    [data-dpr="3"] .wrap .tel-tip {
      font-size: 42px; }
  .wrap .btn-check {
    position: absolute;
    top: 7.03125rem;
    left: 50%;
    margin-left: -1.44531rem;
    width: 2.89063rem;
    height: 3.01563rem;
    -webkit-transition: transform .5s;
    -moz-transition: transform .5s;
    -ms-transition: transform .5s;
    -o-transition: transform .5s;
    transition: transform .5s; }
  .wrap .anm-rot {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
  .wrap .img-rp-header {
    width: 10rem; }
  .wrap .btn-continue {
    display: block;
    width: 8.28125rem;
    height: 1.375rem;
    line-height: 1.375rem;
    margin: 0.78125rem auto;
    font-size: 17px;
    max-height: 100%;
    color: #ffe8ad;
    text-align: center;
    background-color: #ea3a48;
    border-radius: 0.9375rem; }
    [data-dpr="2"] .wrap .btn-continue {
      font-size: 34px; }
    [data-dpr="3"] .wrap .btn-continue {
      font-size: 51px; }
  .wrap .intro-guid {
    width: 9.375rem;
    margin: 0 auto; }
    .wrap .intro-guid .igh {
      padding-left: 0.15625rem;
      font-size: 13px;
      max-height: 100%;
      font-weight: bold;
      color: #7f601a;
      border-left: 0.07813rem solid #7f601a;
      margin-bottom: 0.1875rem; }
      [data-dpr="2"] .wrap .intro-guid .igh {
        font-size: 26px; }
      [data-dpr="3"] .wrap .intro-guid .igh {
        font-size: 39px; }
    .wrap .intro-guid .igp {
      font-size: 13px;
      max-height: 100%;
      color: #7f601a;
      margin-bottom: 0.1875rem; }
      [data-dpr="2"] .wrap .intro-guid .igp {
        font-size: 26px; }
      [data-dpr="3"] .wrap .intro-guid .igp {
        font-size: 39px; }
  .wrap .arb-img {
    width: 10rem; }
  .wrap .arb-wrap {
    padding: 0.3125rem 0.3125rem 1.5625rem 0.3125rem; }
  .wrap .arb-intro {
    padding: 0.46875rem 0;
    background-color: white; }
  .wrap .arb-intro > .col-xs-4 {
    height: 1.40625rem;
    text-align: center;
    border-right: 1px dashed #333; }
  .wrap .arb-intro > .col-xs-4:last-child {
    border-right: none; }
  .wrap .aip1 {
    font-size: 24px;
    max-height: 100%;
    color: #ec4d43; }
    [data-dpr="2"] .wrap .aip1 {
      font-size: 48px; }
    [data-dpr="3"] .wrap .aip1 {
      font-size: 72px; }
  .wrap .aip2 {
    font-size: 12px;
    max-height: 100%;
    color: #222222; }
    [data-dpr="2"] .wrap .aip2 {
      font-size: 24px; }
    [data-dpr="3"] .wrap .aip2 {
      font-size: 36px; }
  .wrap .aip3 {
    font-size: 12px;
    max-height: 100%;
    color: #222222; }
    [data-dpr="2"] .wrap .aip3 {
      font-size: 24px; }
    [data-dpr="3"] .wrap .aip3 {
      font-size: 36px; }
  .wrap .fz-1 {
    font-size: 24px;
    max-height: 100%; }
    [data-dpr="2"] .wrap .fz-1 {
      font-size: 48px; }
    [data-dpr="3"] .wrap .fz-1 {
      font-size: 72px; }
  .wrap .btn-arb-1 {
    display: block;
    margin: 0 auto;
    width: 2.8125rem;
    height: 0.9375rem;
    line-height: 0.9375rem;
    font-size: 14px;
    max-height: 100%;
    color: white;
    background-color: #ec4d43;
    border-radius: 0.54688rem; }
    [data-dpr="2"] .wrap .btn-arb-1 {
      font-size: 28px; }
    [data-dpr="3"] .wrap .btn-arb-1 {
      font-size: 42px; }
  .wrap .arb-movie {
    padding: 0.3125rem;
    background-color: #fff6e4;
    color: #f39026;
    font-size: 12px;
    max-height: 100%; }
    [data-dpr="2"] .wrap .arb-movie {
      font-size: 24px; }
    [data-dpr="3"] .wrap .arb-movie {
      font-size: 36px; }
  .wrap .am-img {
    float: left;
    width: 0.85938rem;
    margin-right: 0.3125rem; }
  .wrap .arb-sec {
    position: relative;
    margin-top: 0.46875rem;
    background-color: white;
    padding: 0.46875rem 2.78125rem 0.46875rem 0.3125rem; }
    .wrap .arb-sec:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.07813rem;
      width: 100%;
      height: 0.09375rem;
      background: url("/assets/special/images/guid/ic-jag.png") repeat-x; }
  .wrap .aip4 {
    font-size: 14px;
    max-height: 100%;
    color: #222222; }
    [data-dpr="2"] .wrap .aip4 {
      font-size: 28px; }
    [data-dpr="3"] .wrap .aip4 {
      font-size: 42px; }
  .wrap .aip5 {
    font-size: 12px;
    max-height: 100%;
    color: #999999; }
    [data-dpr="2"] .wrap .aip5 {
      font-size: 24px; }
    [data-dpr="3"] .wrap .aip5 {
      font-size: 36px; }
  .wrap .btn-as-r {
    position: absolute;
    top: 1.09375rem;
    right: 0.28125rem;
    width: 2.5rem;
    height: 0.9375rem;
    line-height: 0.9375rem;
    font-size: 14px;
    max-height: 100%;
    color: white;
    text-align: center;
    background-color: #ec4d43;
    border-radius: 0.54688rem; }
    [data-dpr="2"] .wrap .btn-as-r {
      font-size: 28px; }
    [data-dpr="3"] .wrap .btn-as-r {
      font-size: 42px; }
  .wrap .ban-fix-foot {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1.5625rem;
    line-height: 1.5625rem;
    background-color: rgba(255, 204, 52, 0.9); }
  .wrap .img-ff {
    float: left;
    width: 4.67188rem;
    margin-top: 0.46875rem;
    margin-left: 0.9375rem; }
  .wrap .btn-as-ff {
    float: right;
    margin-top: 0.39063rem;
    margin-right: 0.70313rem;
    width: 2.5rem;
    height: 0.85938rem;
    line-height: 0.85938rem;
    font-size: 12px;
    max-height: 100%;
    text-align: center;
    color: white;
    background-color: #ec4d43;
    border-radius: 0.15625rem; }
    [data-dpr="2"] .wrap .btn-as-ff {
      font-size: 24px; }
    [data-dpr="3"] .wrap .btn-as-ff {
      font-size: 36px; }

.reg-sp {
  margin-top: -4.6875rem;
  padding: 0 0.53125rem; }
  .reg-sp .reg-sp-input {
    display: block;
    width: 100%;
    font-size: 14px;
    max-height: 100%;
    color: #d8b96e;
    height: 1.25rem;
    line-height: 1.25rem;
    padding-left: 0.71875rem;
    background: white;
    border: 1px solid #d8b96e;
    border-radius: 0.78125rem; }
    [data-dpr="2"] .reg-sp .reg-sp-input {
      font-size: 28px; }
    [data-dpr="3"] .reg-sp .reg-sp-input {
      font-size: 42px; }
  .reg-sp .reg-sp-control {
    position: relative;
    margin: 0 auto 0.375rem; }
  .reg-sp .reg-sp-input::-moz-placeholder {
    color: #d8b96e; }
  .reg-sp .reg-sp-input::-webkit-input-placeholder {
    color: #d8b96e; }
  .reg-sp .reg-sp-input:-ms-input-placeholder {
    color: #d8b96e; }
  .reg-sp .code-control {
    position: absolute;
    right: 0.15625rem;
    top: 0.15625rem;
    width: 3.125rem;
    height: 0.9375rem;
    line-height: 0.9375rem;
    text-align: center;
    border-radius: 0.78125rem;
    cursor: default; }
  .reg-sp .sendCode {
    background-color: #fdc232;
    color: white;
    font-size: 12px;
    max-height: 100%; }
    [data-dpr="2"] .reg-sp .sendCode {
      font-size: 24px; }
    [data-dpr="3"] .reg-sp .sendCode {
      font-size: 36px; }
  .reg-sp .tip-sp {
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    padding-left: 25px;
    color: #d6272b; }
  .reg-sp .btn-sp-reg {
    background-color: #00bed6;
    border-color: #00bed6;
    color: white;
    text-align: center;
    padding-left: 0;
    cursor: pointer;
    font-size: 17px;
    max-height: 100%; }
    [data-dpr="2"] .reg-sp .btn-sp-reg {
      font-size: 34px; }
    [data-dpr="3"] .reg-sp .btn-sp-reg {
      font-size: 51px; }
  .reg-sp .errTip {
    text-align: center;
    height: 0.6875rem;
    line-height: 0.6875rem;
    color: #e73c4c; }
  .reg-sp .mb-rp {
    margin-bottom: 0; }
  .reg-sp .bg-tpt {
    color: #7f601a;
    background: transparent; }

/*# sourceMappingURL=dadareg.css.map */
